flows.json
[{"type":"tab","id":"eeecb8dc.9a4b18","label":"bulb"},{"type":"tab","id":"ff9e828.e39e38","label":"twitter_test"},{"id":"13224516.7b836b","type":"bulbsin","z":"eeecb8dc.9a4b18","name":"input","subtype":"bulb-on","x":299,"y":379,"wires":[["7ce08bd8.499f14","7ce08bd8.499f14"]]},{"id":"810cf93e.bed5c8","type":"bulbsout","z":"eeecb8dc.9a4b18","name":"output","subtype":"set-bulb-on","value":"off","x":819,"y":339,"wires":[]},{"id":"7ce08bd8.499f14","type":"function","z":"eeecb8dc.9a4b18","name":"","func":"msg.payload.value=\"off\"\nreturn msg;","outputs":1,"noerr":0,"x":522,"y":359,"wires":[["810cf93e.bed5c8","bfcbc87f.8a73b8"]]},{"id":"bfcbc87f.8a73b8","type":"debugger","z":"eeecb8dc.9a4b18","name":"debug","active":true,"console":"false","complete":"false","x":821,"y":438,"wires":[]},{"id":"653c2eec.14374","type":"twitter","z":"ff9e828.e39e38","name":"","subtype":"twitterHashTagStream","x":497,"y":198,"wires":[["7e7f1a0a.f6ea64"]]},{"id":"7e7f1a0a.f6ea64","type":"function","z":"ff9e828.e39e38","name":"","func":"if (msg.match(/thank/i))\n    msg.payload.value=\"YYYY\".concat(msg.payload.value)\nelse\n    msg.payload.value=\"NNNN\".concat(msg.payload.value)\nreturn msg;","outputs":1,"noerr":0,"x":687,"y":191,"wires":[["87f4f71a.c2b828"]]},{"id":"87f4f71a.c2b828","type":"debugger","z":"ff9e828.e39e38","name":"","active":true,"console":"false","complete":"false","x":888,"y":208,"wires":[]}]