flows.json
[{"type":"tab","id":"f1243742.5df718","label":"test"},{"id":"849c4b7.6ccb8b8","type":"twitter","z":"f1243742.5df718","name":"last_tweet","subtype":"twitterHashTagStream","x":124,"y":225,"wires":[["6821de9.5f8c52"]]},{"id":"9d0d2eed.b69a","type":"debugger","z":"f1243742.5df718","name":"test_output","active":true,"console":"false","complete":"false","x":340,"y":174,"wires":[]},{"id":"6821de9.5f8c52","type":"function","z":"f1243742.5df718","name":"find out ","func":"if (msg.payload.value.match(/thank/i))\n    msg.payload.value=\"YYYY:\".concat(msg.payload.value)\nelse\n    msg.payload.value=\"NNNN:\".concat(msg.payload.value)\nreturn msg","outputs":1,"noerr":0,"x":212,"y":128,"wires":[["9d0d2eed.b69a"]]}]